---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.bg-wrapper {
  position: absolute;
  z-index: -1;
  background: #FFFFFF no-repeat center bottom;
  background-clip: content-box;
  top: 0; bottom: 0;
  width: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    width: 100%;

    background: #fff no-repeat center bottom fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
    
  canvas.blur {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  .blackout {
    z-index: -1;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: black;
    opacity: .3;
  }
}

$color-beige: #E8B884;
$color-green: #206964;


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.stripes {
  width: 100%;
  height: 10px;

  display: -webkit-flex;
  display: flex;
  z-index: 10;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;

  & > div {
    -webkit-flex: 1;
    flex: 1;
  }
  
  & > div:nth-child(1) { background: #416CB1; }
  & > div:nth-child(2) { background: #FCD111; }
  & > div:nth-child(3) { background: #37C56B; }
  & > div:nth-child(4) { background: #135728; }

  &.bottom {
    height: 10px;
    // position: absolute;
    // bottom: -60px;
    // bottom: 0;
    margin-top: -10px;
  }

  &.top {
    height: 10px;
    position: relative;
  }
  
  /*& > div:nth-child(2) { background: #61A363 }*/
  /*& > div:nth-child(3) { background: #9CB95A }*/
  /*& > div:nth-child(4) { background: #D1CD52 }*/
}

section {
  overflow: hidden;
}

section.main {
  width: 800px;
  margin: auto;
  display: table;
  position: relative;
  padding-top: 75px;

  font-family: "Avenir", sans-serif;

  .SnapPlayer {
    float: left;
  }

  main {
    top: 30px;
    position: relative;
    padding-left: 420px;

    h1 {
      font-weight: 500;
      font-size: 20px;
      margin-bottom: 20px;
      color: #222;
    }

    p {
      font-size: 16px;
      margin-bottom: 20px;

      a {
        color: #999;
        text-decoration: none;
        transition: .2s all linear;
        &:hover {
          color: #0bf;
        }
      }
    }

    h1 + p {
      font-size: 17px;
      margin-bottom: 15px;

      a { color: #AAA; font-size: 15px; }
    }

    .team {
      list-style: none;
      margin-left: 0;
      margin-top: 15px;
      
      li {
        display: inline-block;
        $dim: 60px;

        &.incomplete {
          -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
          filter: grayscale(100%);
        }

        div {
          width: $dim;
          height: $dim;
          cursor: pointer;
          border-radius: $dim;
          
          /*border-radius: $img-size;*/
          background-position: center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
      }
    }
  }
}

section.info {
  position: relative;
  overflow: hidden;
  font-family: Avenir, sans-serif;
  
  aside {
    position: absolute;
    width: 30%;
    top: 0;
    bottom: 0;
    // float: left;
    overflow: hidden;
    box-shadow: inset -7px 0 9px -7px rgba(0,0,0,0.4), inset 0 7px 9px -7px rgba(0,0,0,0.4);        

    footer {
      position: absolute;
      color: white;
      bottom: 20px;
      width: 100%;
      text-align: center;
      font-size: 14px;
    }
  }
  

  .close-btn {
    display: table;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    padding: 5px 10px;

    &:before {
      content: 'x'; // here is your X(cross) sign.
      color: #666;
      font-size: 25px;
      font-weight: 300;
      font-family: Avenir, Arial, sans-serif;
    }

    &:hover:before {
      color: #333;
    }
  }

  main {
    margin-left: 30%;
    padding-left: 50px;
    padding-top: 50px;
  }

  .about {
    padding-right: 40px;
    max-width: 700px;

    h1 {
      margin-bottom: 20px;
    }

    p {
      max-width: 600px;
      font-size: 15px;
      margin-bottom: 30px;
      color: #444;
    }
    
    .alumni {
      list-style: none;
      margin-left: 0;

      li {
        font-size: 14px;
        display: inline-block;
        width: 300px;

        .picture {
          $dim: 60px;
          width: $dim;
          float: left;
          height: $dim;
          margin-bottom: 20px;
          // border-radius: $dim;
          
          /*border-radius: $img-size;*/
          background-position: center;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }

        .content {
          margin-left: 70px;
        }

        .name {
        }
        .class {
        }
        .position {
        }
      }
    }
  }

  .person {
    max-width: 600px;

    .picture {
      $dim: 200px;
      width: $dim;
      height: $dim;
      cursor: pointer;
      margin-bottom: 20px;
      // border-radius: $dim;
      
      /*border-radius: $img-size;*/
      background-position: center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    font-family: Avenir;

    .name {
      font-size: 30px;
      color: #333;
    }

    .class {
      font-size: 20px;
      line-height: 2;
      color: #555;
    }

    p {
      line-height: 1.6;
    }

    .from {
      font-size: 16px;
      font-weight: 400;
      color: #888;
    }

    .bio {
      color: #444;
      font-size: 16px;
    }
  }
}

.SnapPlayer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  $border-height: 25px;

  #player {
    margin-top: -35px;
  }

  .overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    cursor: pointer;
    border-bottom: 50px solid white;

    .text {
      position: absolute;
      bottom: 0;
      width: 100%;

      opacity: 0;
      background: rgba(0,0,0,.4);
      padding: 10px 20px;
      color: white;
      transition: .5s all linear;
    }
  }

  &:hover .overlay .text,
  .overlay.show .text {
    transition: .1s all linear;
    opacity: 1;
  }
}


@media screen and (max-width: $on-laptop) {
}

@media screen and (min-width: $on-laptop) {
}


.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background: #fff no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

